@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #f0aadc;
    color: #171515;
    font-family: "Comic Neue";
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: inherit;
}g