@font-face {
    font-family: "Paw";
    src: url("Paw.otf") format("truetype");
}

@font-face {
    font-family: "main";
    src: url("main.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'main';
}

.hero-bottom p,
.button {
    font-family: 'main';
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: inherit;
}

.topbar {
    width: 100%;
    padding: 25p 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.pawgrammed {
    font-family: "Paw", sans-serif;
    font-size: clamp(55px, 10vw, 145px);
    line-height: 1;
    letter-spacing: -5px;
    color: #211d1b;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
    font-size: 16px;
}

.top-right a {
    color: #211d1b;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid #211d1b;
    transition: 0.2s;
}

.top-right a:hover {
    background: #ff6b9d;
    transform: rotate(-3deg);
}

.topbar {
    position: relative;
}
